@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap");

.App {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: black;
}
h1 {
  font-size: 28px;
  font-weight: bold;
}

/* partie header -------------------------------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  /* background-image: url("./img/background.jpg"); */
  height: 155px;
  margin-bottom: 60px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
  /* ---modif suite header fixe---- */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header button:hover {
  color: rgb(190, 188, 188);
  /* text-shadow: 0px 10px 20px white; */
}
.connecButton .but0 {
  color: red;
}
.connecButton .but0:hover {
  color: rgb(232, 130, 130);
}

.logo img {
  width: 200px;
  height: 80px;
  box-shadow: 1px 1px 10px rgb(190, 188, 188);
  margin-top: 15px;
}

.header button {
  width: 150px;
  height: 25px;
  font-size: 17px;
  color: white;
  background-color: black;
  /* opacity: 0.5; */
  border: none;
}

.display {
  display: flex;
  margin-bottom: 15px;
}
.connecButton {
  display: flex;
  justify-content: flex-end;
  /* background-color: white; */
  width: 100%;
  margin-right: 100px;
}
.connecButton button {
  border: 1px rgb(45, 45, 45) solid;
  height: 30px;
  border-radius: 5px;
  margin-left: 15px;
}

/*homepage-------------------------------------------*/

.homepage {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-top: 150px;
}

/* partie page Characters ------------------------------------------------------------- */

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  width: 100%;
  gap: 50px;
  height: 30px;
  margin-bottom: 40px;
  /* ---modif suite header fixe------ */

  padding-top: 25px;
}
.bandeau {
  margin-top: 150px;
  width: 100vw;
  height: 250px;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}

.searchBar input {
  padding-left: 2px;
}

.search {
  width: 250px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(190, 188, 188);
  box-shadow: 0px 10px 25px -10px rgb(190, 188, 188);
}
.limit,
.skip {
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(190, 188, 188);
  box-shadow: 0px 10px 25px -10px rgb(190, 188, 188);
}

.responseData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100vw;
  /* background-color: pink; */
  margin: 0 auto;
}

.charCard {
  display: flex;
  flex-direction: column;
  color: rgb(221, 213, 213);
  justify-content: flex-start;
  height: 650px;
  margin: 10px 10px 10px 10px;
  width: 400px;
  background-color: rgb(34, 34, 34);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}

.charCard img {
  height: 340px;
  object-fit: cover;
  margin: 8px 8px 20px 8px;
  border-radius: 5px;
}
.charCard p,
h1 {
  text-align: justify;
  margin: 10px 10px 10px 10px;
}

.charCard p {
  height: 170px;
}

.isLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.isLoading img {
  height: 100px;
}

/* partie page Comics ------------*/

.responseDataComics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100vw;
  /* background-color: pink; */
  margin: 0 auto;
}
.comiCard {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: flex-start;
  height: 870px;
  margin: 10px 10px 10px 10px;
  width: 400px;
  background-color: rgb(34, 34, 34);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}
.test {
  overflow-y: scroll;
  height: 155px;
}

.test::-webkit-scrollbar {
  display: none;
}

.comiCard img {
  margin-bottom: 15px;
  border-radius: 5px;
}

.comiCard p,
h1 {
  text-align: justify;
  margin: 10px 10px 10px 10px;
  color: rgb(221, 213, 213);
}

a {
  text-decoration: none;
  color: aliceblue;
}

.fav {
  display: flex;
  width: 100%;
  /* background-color: #fff; */
  justify-content: space-between;
  align-items: center;
}

.fav .favorite:hover {
  color: red;
}
.fav1 {
  display: flex;
  width: 50%;
  /* background-color: #fff; */
  justify-content: center;
}
.favorite {
  color: beige;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: rgb(34, 34, 34);
  margin: 0 10px 0 10px;
}
.favorite2 {
  color: red;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: rgb(34, 34, 34);
  margin: 0 10px 0 10px;
}
.favorite1 {
  color: beige;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: rgb(34, 34, 34);
  margin: 0 10px 0 10px;
}
.favorite1:hover {
  color: grey;
}

/* page charId---------------------------- */

.charPage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  /* ---modif suite header fixe------ */
  margin-top: 150px;
  padding-top: 15px;
}

.resultChar {
  display: flex;
  flex-direction: column;
  color: rgb(221, 213, 213);
  justify-content: flex-start;
  height: 450px;
  margin: 60px 10px 80px 10px;
  width: 450px;
  /* background-color: rgb(200, 171, 176); */
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgb(183, 123, 123);
}
.resultChar h1 {
  text-align: center;
}
.containerChar {
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
  width: 74vw;
}
.resultsComics {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
  border-top: 1px solid red;
  width: 74vw;
}
.resultsComics h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.resultsComics img {
  height: 300px;
  width: 200px;
}
.comicTodisplay {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.comicUnity {
  margin: 15px 15px 15px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
}
.imgChar img {
  height: 350px;
  width: 433px;
  object-fit: cover;
  margin: 8px 8px 20px 8px;
  border-radius: 5px;
}

.resultChar p,
h1 {
  text-align: justify;
  margin: 6px 10px 8px 15px;
}
.titles {
  height: 310px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.titles::-webkit-scrollbar {
  display: none;
}
/*Favorites------------------------------------------*/
.fovPage {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  height: 100%;
  justify-content: center;
}
.favouriteContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.favouriteContainer1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  width: 80vw;
  min-height: 50vh;
  /* background-color: yellow; */
}
.favCard0 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: #fff; */
}
.favouriteContainer h1 {
  line-height: 40px;
  border-bottom: 1px solid red;
}

.favCard {
  margin: 25px 0 25px 25px;
  height: 390px;
  width: 250px;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
  border-radius: 5px;
}
.favCard img {
  height: 350px;
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.favCard p {
  color: #fff;
  margin: 0 0 0 10px;
}
.favDescr p {
  margin-left: 10px;
  margin-top: 30px;
}

.charCard1 img {
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
}
.underSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.underSection button {
  background-color: black;
  color: red;
  font-size: 25px;
  border: none;
}

/* Footer--------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  color: azure;
  align-items: center;
  height: 100px;
  width: 100vw;
  background-color: black;
  box-shadow: 1px 1px 15px rgb(190, 188, 188);
  margin-top: 40px;
}

.footer span {
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}

.footer button {
  border: none;
  color: aliceblue;
  background-color: black;
  font-size: 15px;
  font-weight: bold;
}

.footer button:hover {
  color: grey;
}

/* page signup--------------------------------------------- */

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding-top: 125px;
  height: 100vh;
  width: 100vw;
}

.formSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 320px;
  margin-top: 30px;
}

.formSign input {
  height: 50px;
  width: 270px;
  font-size: 16px;
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: black;
}
.formSign button {
  height: 50px;
  width: 290px;
  font-size: 16px;
  padding-left: 15px;
  border: none;
  color: black;
  border: 1px solid white;
  background-color: rgb(190, 188, 188);
  border-radius: 5px;
  margin-top: 20px;
}

.formSign button:hover {
  background-color: #fff;
  color: rgb(106, 105, 105);
}
.h1form {
  margin-right: 10px;
}

/* test */
/* .display1 {
  display: none;
} */
